
$color-white: #fff;

$color-grey-dark: #95a5a6;
$color-grey-medium: #c5d1d4;
$color-grey-light: #ecf0f1;

$color-black: #000;


$color-primary-yellow: #f1c40f;

$color-primary-red: #e74c3c;

$color-primary-green: #27ae60;