.section-input {
    background-color: $color-grey-light;
    padding: 2rem 0 .6rem 0;
    position: relative;

    @include respond(phone)
    {
        width: 100%;
    }
}

.section-tasks {
    padding: 6rem;
    position: relative;

    @include respond(phone)
    {
        padding: 2rem;
    }
}